
@using DataModels;
@model ThemeViewModel;
@{
    ViewData["Title"] = Model.themename;
}

<h3 align="center">Название темы: @Model.themename</h3>
<ul class="my_padding">
    <li><p class="size_title_course site_padding">Доступные лекции по теме:</p></li>
    <li class="courses size_text_course ">
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <ul class="navbar-nav flex-grow-1">
                @foreach (LectureModel lecture in Model.lectures)
                {
                    <li>
                        <a class=" site_padding" href="@lecture.lecturefile">@lecture.lecturename</a>
                    </li>
                    <li>
                        @*Просмотр лекицb на другой странице*@
                        <a class="site_padding">@Html.ActionLink(lecture.lecturename, "Lecture")</a>
                    </li>
                }
            </ul>
        </div>
    </li>
        <li><p class="size_title_course site_padding">Доступные тесты по теме:</p></li>
        <li class="courses">
           
                @foreach (TestModel test in Model.tests)
                {
                     <p class="size_text_course site_padding">@Html.ActionLink(test.testname, "Test", new { testid = test.testid }, new { testname = test.testname })</p>
                }
            
        </li>
    </ul>